/*https://coolors.co/palette/0b132b-1c2541-3a506b*/

body {
    background-color: #0A080FF7;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    width: 15%;
}
h2{
    margin-left: 1em;
    padding-top: .5em;
}

.dungeon {
    background-color: #373a3c99;
    display: grid;
    margin-top:1em;
    border-radius: 1em;
}
.boss {
    background-color: #010708;
    display: grid;
    grid-template-columns: fit-content(1em) auto;
    text-align: center;
    border: .1em solid white;
}

.itemtype {
    display: flex;
    background-color: #087F8C;
    height: 7em;
    flex-basis: auto;
}

#seasonPanel{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

table {
    width: 100%;
}

tr {
    display: flex;
}

td,
th {
    flex: 1;
    text-align: center;
    border: .01em solid white;
}

img {
    object-fit: cover;
}

.imgbox {
    grid-template-rows: fit-content(1em) 1em;
}

#controlPanel {
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin: auto;
}

#subclassDropdown {
    float: right;
}

#controlPanel div {
    padding-right: 1em;
}
#statPanel{
    display: grid;
    grid-template-columns: auto auto;
}

footer {
	background-color: #373a3c99;
	margin-top: 1em;
    padding-bottom: 1em;
	padding-left: 1em;
}

#andOrBox{
    margin-left: 1em;
}