/*https://coolors.co/palette/0b132b-1c2541-3a506b*/

body{
    background-color: #00233C;
    color: white;
    font-family: fantasy;
}

h1{
    text-align: center;
    width: 15%;
}

.dungeon{
    background-color: #002642;
    display: flex;
}

.boss{
    background-color: #045367;
    display: grid;
    grid-template-columns: fit-content(1em) auto;
    text-align: center;
}

.itemtype{
    display:flex;
    background-color: #087F8C;
    height: 7em;
    flex-basis: auto;
}

table{
    width: 100%;
}

td{
    width:7.14285714286%;
    text-align: center;
    border: .01em solid white;
}

img{
    object-fit: cover;
}

.imgbox{
    grid-template-rows: fit-content(1em) 1em;
}